
{% extends "base.html" %}
{% load static %}
{% block liens %}
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item "><a class="nav-link" href="{% url 'home' %}">Acceuil</a></li> 
                            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">A Propos</a></li>
                            <li class="nav-item active"><a class="nav-link" href="{% url 'demandeur_emploi' %}">Chercheur d'emploi</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'employeur' %}">Employeur</a></li>
                            {% if user.is_authenticated %}
                                   <li class="nav-item "><a class="nav-link" href="{% url 'accounthome' %}">Mon Compte</a></li>
                             {% else %}
                                 <li class="nav-item "><a class="nav-link" href="{% url 'connexion' %}">Connexion</a></li>
                             {% endif %}


                            
                        </ul>
                    </div> 


{% endblock %}

{% block  content %}
        
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Chercheur d'emploi</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Acceuil</a></li>
                        <li class="active">Chercheur d'emploi</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        <!--================Booking Tabel Area =================-->
        <section class="hotel_booking_area">
             <div class="container"  >
                                        <form action="{% url 'liste_offre'%}" method="post">{% csrf_token %}
                        <div class="hotel_booking_table">
                            <div class="col-md-1" >

                            </div>
                            <div class="col-md-10" >
                                <div class="boking_table">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="book_tabel_item">
                                                {% if error_message %}
                                                    <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                                                {% endif %}
                                                <div class="form-group">
                                                    <div class='input-group ' >
                                                        {{ form.motcle }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="book_tabel_item">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                       {{ form.localite }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" >
                                            <div class="book_tabel_item">
                                                <button type="submit" class="book_now_btn button_hover">Rechercher  </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >

                            </div>
                        </div>
                    </form>
                </div>
        </section>
        <!--================Booking Tabel Area  =================-->
        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center wow slideInDown">
                    <h2 class="title_color">OBTENEZ UN MEILLEUR RESULTAT ET UNE MEILLEURE EXPERIENCE</h2>
                    <p style="color: black;">Inscrivez-vous et bénéficiez des avantages suivants:</p>
                </div>
                <div class="row accomodation_two">
                    <div class="col-lg-3 col-sm-6 wow slideInUp">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'favoris2.png'  %}" alt="" class="img-home">
                                <a href="#" class="btn theme_btn button_hover" style="font-size: 0.87em;">Favoris</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Sauvegarder vos emplois favoris</h4></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow slideInDown">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'resultat.jpg' %}" alt="" class="img-home">
                                <a href="#" class="btn theme_btn button_hover" style="font-size: 0.7em;">Recommandation</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Obtenir des recommandations d'offres correspondant à  votre profil   </h4></a>
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow slideInLeft">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'notification.png' %}" alt="" class="img-home">
                                <a href="#" class="btn theme_btn button_hover" style="font-size: 0.92em;"> Notification  </a>
                            </div>
                            <h4 class="sec_h4">Etre notifié pour les nouvelles offfres d'emploi</h4>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow slideInRight">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'statistique.png'  %}" alt="" class="img-home">
                                <a href="#" class="btn theme_btn button_hover" style="font-size: 0.92em;">Statistique</a>
                            </div>
                            <h4 class="sec_h4">Avoir des informations statistique sur les villes recherchant le plus vos compétences</h4>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        
                    </div>
                    <div class="col-lg-4 col-sm-6">
                       <a class="book_now_btn button_hover" href="{% url 'inscription' %}">S'inscrire  </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        
                    </div>
                   
                </div>
            </div>
        </section>
        <!--================ Accomodation Area  =================-->
{% endblock %}